<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>demoServlet1</servlet-name>
        <servlet-class>com.whh.spring.learn.controller.DemoServlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>demoServlet1</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
</web-app>
