<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.whh.beans.UserDao">
        <property name="userServiceV1" ref="userService"/>
    </bean>

    <bean id="userService" class="com.whh.beans.UserServiceV1">
        <property name="name" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>
